@import "../../util/variables";

.container {
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05),
    0px 4px 10px rgba(0, 0, 0, 0.041), 0px 30px 25px rgba(0, 0, 0, 0.05);

  .chat-info {
    display: flex;
    justify-content: space-between;

    .profile-info {
      display: flex;
      padding: 30px 40px 17px;
      padding-right: 0;

      .img-block {
        position: relative;
        .img {
          width: 50px;
          border-radius: 30px;
        }

        .green {
          position: absolute;
          background: #00c305;
          border: 1.5px solid #ffffff;
          padding: 5px;
          border-radius: 50px;
        }
      }

      .text {
        text-align: left;
        margin-left: 20px;
        width: 100%;
      }
    }
    .time {
      padding-right: 40px;
      color: $input-color;
      * {
        margin: 30px 10px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .message-block {
    font-weight: 500;
    font-size: 16px;
    color: $input-color;
    text-align: left;
    display: flex;
    padding: 40px;
    padding-top: 0;
    padding-bottom: 30px;
    gap: 36px;

    .message {
      margin: 0;
    }

    .unread {
      color: #fff;
      margin-top: 10px;

      div {
        background-color: $indication-color;
        padding: 5px 10px;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding-top: 20px;
    .chat-info {
      .profile-info {
        padding: 13px;
        padding-right: 0;
      }

      .time {
        padding-right: 13px;
      }
    }


    .message-block {
      padding: 0 10px 40px;
    }
  }
}
