@import "../util/variables";

.container {
  background: #ffffff;
  margin: 50px 0;
  margin-right: 30px;
  width: 900px;
  position: relative;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05),
    0px 4px 10px rgba(0, 0, 0, 0.13), 0px 30px 35px rgba(0, 0, 0, 0.05);

  .empty {
    padding: 20px 10px;
    text-align: center;
    color: $main-text-color;
    font-size: 18px;
  }
  .loader {
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 0.603);
    z-index: 2;
    margin: auto;
  }

  .message-hat {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background: #fafbff;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);

    .nav {
      margin-top: 10px;
    }

    .chat-info {
      display: flex;
      gap: 20px;

      .back {
        font-size: 16px;
        font-weight: 500;
        color: $main-text-color;
      }

      .profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin: 25px 15px 25px 0;

    .loader {
      height: 78vh;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin: 10px;
    margin-left: 0;
    margin-top: 0;

    .loader {
      height: 70vh;
    }

    .message-hat {
      padding: 20px 10px;

      .nav {
        display: flex;
      }
    }
  }
}
