@import "../../util//variables";
@import "../../util/mixins";

.nav {
  .nav-btn {
    display: flex;
    gap: 17px;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: $input-color;
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
    border: none;
    background: transparent;
    padding: 25px 0;
    padding-left: 35px;
    padding-right: 45px;

    .text {
      text-align: left;
      margin-top: 3px;
      font-weight: 500;
    }
  }

  .active {
    border-left: 4px solid $active-color;
    // box-shadow: 1px 0px 10px rgba(42, 139, 242, 0.45),
    //   0px 0px 10px rgba(42, 139, 242, 0.55),
    //   4px 0px 25px rgba(42, 139, 242, 0.75);
    border-radius: 3px;
  }
}

@include hide-nav(1200px, 25px 45px 25px 35px);

@media screen and (max-width: 1100px) {
  .nav {
    .nav-btn {
      display: flex;

      .text {
        display: block;
      }
    }
  }
}

@include hide-nav(900px, 30px 10px);
