@mixin hide-nav($resolution, $padding) {
  @media screen and (max-width: $resolution) {
    .nav {
      .nav-btn {
        display: block;
        padding: $padding;

        .text {
          display: none;
        }
      }
    }
  }
}

@mixin hide-header($resolution, $width, $padding) {
  @media screen and (max-width: $resolution) {
    .header {
      width: $width;
      .profile {
        padding: 10px;
        padding-top: 20px;

        .text {
          display: none;
        }

        .image {
          width: 30px;
          height: 30px;
        }
      }

      .logout {
        padding: $padding;
        display: block;
        .text {
          display: none;
        }
      }
    }
  }
}
