$main-text-color: #0D1C2E;
$input-color: #707C97;
$button-color: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
$button-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);