/*----background-----*/
$background-top-menu: #FFFF;
$background: #E6ECFE;
$background-darker: #FAFBFF;

$main-text-color: #0D1C2E;
$indication-color: #FF3366;
$active-color: #2A8BF2;

/*-----input-----*/
$input-color: #707C97;

/*----button----*/
$button-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
