@import "./components/util//variables";

@font-face {
  font-family: "TT Norms";
  font-weight: 500;
  src: local("TT Norms"), url(./fonts/font/TTNorms-Medium.woff) format("opentype");
}

@font-face {
  font-family: "TT Norms";
  font-weight: 700;
  src: local("TT Norms"), url(./fonts/font/TTNorms-Bold.woff) format("opentype");
}

body {
  margin: 0;
  font-family: "TT Norms", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .main-text {
    text-decoration: none;
    font-size: 36px;
    font-weight: 500;
    color: $main-text-color;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
